%data-b-comment-ico {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAAA1klEQVR42mL8//8/AzI4cOAAI4h2cHBAlUCTZwRpBHJEgOwJQBwCxOxQNYVAzROgipWA1BQgdgdiJpAYC1CQFUjvAWJ9HDaADD0ExNLI4ixAnICm6RtU4TUovxRN0weQPEhjMJLgJSB2BTrxFZJYCBIb5LIgoPxnJjTb6pA1AZ0pAKSUkOSLQJoYoB6VQJK4geZFYTT+VWQ/IgNboC2SQPoB0OQHQJoXTd4OKA+irzChScwG4v3QAMMG9kOxDRMDmWAkaARFBzMW8f/QHHIBGPxY5QECDADR90ENR8nhAgAAAABJRU5ErkJggg==") !important;
	.-device_mobile & {background-image: url("../img/base64/b-comment-ico.png") !important;}
}
%data-b-list3-ico {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAJBAMAAADjtECuAAAAMFBMVEX///87Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7OzsvtLGgAAAAD3RSTlMACg8WIW15gJKYs8PI0dxv8sbLAAAAI0lEQVQI12PIEmBg6N/EwMD+14CBIf4JAwPnHzAN4oPEgfIAqGIJaoUDtjQAAAAASUVORK5CYII=") !important;
	.-device_mobile & {background-image: url("../img/base64/b-list3-ico.png") !important;}
}
%data-b-list4-ico {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAJBAMAAADjtECuAAAAMFBMVEX////6Rkb6Rkb6Rkb6Rkb6Rkb6Rkb6Rkb6Rkb6Rkb6Rkb6Rkb6Rkb6Rkb6Rkb6RkagqI21AAAAD3RSTlMACg8WIW15gJKYs8PI0dxv8sbLAAAAI0lEQVQI12PIEmBg6N/EwMD+14CBIf4JAwPnHzAN4oPEgfIAqGIJaoUDtjQAAAAASUVORK5CYII=") !important;
	.-device_mobile & {background-image: url("../img/base64/b-list4-ico.png") !important;}
}
